@model IEnumerable<GrandHotel_PF.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NbPersonnes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeureArrivee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Travail)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClientNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumChambreNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NbPersonnes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureArrivee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Travail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientNavigation.Civilite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JourNavigation.Jour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumChambreNavigation.Numero)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
