@model GrandHotel_PF.Models.Chambre

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chambre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Etage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Douche)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Douche)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbLits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbLits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumTel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Numero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
