@model IEnumerable<GrandHotel_PF.Models.ChambreVM>

@{
    ViewData["Title"] = "Chambres";
}

<h2>Liste des chambres</h2>


@*<form asp-controller="Chambres" asp-action="Index">
        <p>

            <Label>Etat d'occupation des chambres</Label>
          @Html.DropDownList("etat",
         new SelectList(ViewBag.Etats, "Key", "Value", ViewBag.EtatSelec))
            <input type="submit" value="Filtrer" />
        </p>
    </form>*@

@*<form asp-controller="Chambres" asp-action="Index">
        <p>

            <Label>Etat d'occupation des chambres</Label>
            <select name="etat" asp-items="@{new SelectList(ViewBag.Etats,
                                "Key", "Value", ViewBag.EtatSelec)}">

            </select>
            <input type="submit" value="Filtrer" />
        </p>
    </form>*@


@*<form asp-for="EtatChambre" asp-controller="Chambres" asp-action="Index" method="get">
        <p>
            <label>
                Afficher la liste des chambres en fonction de leur état d'occupation:
            </label>

            <select name="etat">
                <option value="Toutes">Toutes</option>
                <option value="Chambre Disponible">Chambre Disponible</option>
                <option value="Chambre Occupée">Chambre Occupée</option>

            </select>
            <input type="submit" value="Filtrer" />
        </p>
    </form>*@
<br />
<h4> Filtrer les chambres selon leur état d'occupation à la date du jour</h4>
<br />
<div>
    <span>
        <a asp-area="" asp-controller="Chambres" asp-action="ChambreDisponible">Chambre(s) Disponible(s)</a>
    </span>
</div>

<br />

<div>
    <span>
        <a asp-area="" asp-controller="Chambres" asp-action="ChambreOccupee">Chambre(s) Occupée(s)</a>
    </span>
</div>

<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.Etage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.Bain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.Douche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.Wc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.NbLits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.NumTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation.IdClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtatChambre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Chambre.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chambre.Etage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chambre.Bain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chambre.Douche)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chambre.Wc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chambre.NbLits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chambre.NumTel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeTarif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reservation.IdClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EtatChambre)
                </td>
            </tr>
        }
    </tbody>
</table>
