@model GrandHotel_PF.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NbPersonnes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbPersonnes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeureArrivee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeureArrivee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Travail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Travail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdClientNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdClientNavigation.Civilite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JourNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JourNavigation.Jour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumChambreNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumChambreNavigation.Numero)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NumChambre" />
        <input type="hidden" asp-for="Jour" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
