@model IEnumerable<GrandHotel_PF.Models.Facture>

@{
    ViewData["Title"] = "Factures";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


@*<form asp-controller="Factures" asp-action="Index" method="get">
        <p>
            <span>Année</span>
            <select asp-for="DateFacture"
                    asp-items="@(new SelectList(Model.Facture,"AnneeDateFacture","Annee"))"></select>
            <input type="submit" value="Filtrer" />
        </p>
    </form>*@


<form asp-controller="Factures" asp-action="Index" method="get" id="annee">
    <p>
        <label>
            Sélectionner les factures en fonction de l'année:
        </label>

        <select name="annee">
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
        </select>
        <input type="submit" value="Filtrer" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePaiement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeModePaiement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFacture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePaiement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeModePaiement)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
